<template>
  <div>
	<header class="o-header">Header</header>
	<aside class="o-aside">Aside</aside>
	<main class="o-footer">Main</main>
	<footer class="o-footer">Footer</footer>
  </div>
</template>
<style lang="scss">
* {
	margin: 0;
	padding: 0;
	border-sizing: border-box;
}
body {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

.o-header {
  grid-area: header;
}

.o-aside {
  grid-area: aside;
}

.o-main {
  grid-area: main;
}

.o-footer {
  grid-area: footer;
}
</style>
<script>
export default {
  name: 'home'
}
</script>
